html {
	background-color: #515B65;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

body {
	margin: 50px;
}

a,
a:visited {
	color: #FFF;
}

li {
	padding: 5px 0;
}