<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<link href="{{ "/assets/site.css" | relative_url }}?v2" rel="stylesheet" type="text/css" />
		<title>{{ site.title }}</title>
		<meta name="viewport" content="width=600">
		<meta name="description" content="{{ site.description | escape }}">
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47464350-1', 'mattweinberg.net');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<h1>Matt Weinberg</h1>
		{{ content }}
	</body>
</html>